<form #form="ngForm" (ngSubmit)="onSubmit()" class="pt-5 flex items-center">
  <mat-form-field class="todo-input" appearance="outline">
    <mat-label>Enter Todo</mat-label>
    <input type="text" matInput [(ngModel)]="newTodo" name="newTodo" required />
  </mat-form-field>
  <button class="add-btn" type="submit" [disabled]="!form.valid" mat-flat-button color="primary">
    Add
  </button>
</form>

<ul class="mt-6 list-none">
  <li *ngFor="let todo of todos"
    class="px-4 py-3 mb-3 outline outline-1 flex justify-between items-center outline-slate-600 rounded-sm">
    <!-- View Mode -->
    <div *ngIf="editingTodo?.id !== todo.id">
      {{todo.text}}
    </div>

    <!-- Edit Mode -->
    <div *ngIf="editingTodo?.id === todo.id" class="flex-grow">
      <mat-form-field class="w-full">
        <input matInput [(ngModel)]="editingTodo" name="editTodo" (keyup.enter)="updateTodo(todo.id)"
          (blur)="updateTodo(todo.id)">
      </mat-form-field>
      <div class="flex gap-2">
        <!-- View Mode Actions -->
        <ng-container *ngIf="editingTodo?.id !== todo.id">
          <button mat-icon-button color="primary" (click)="startEditing(todo)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTodo(todo.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>

        <!-- Edit Mode Actions -->
        <ng-container *ngIf="editingTodo?.id === todo.id">
          <button mat-icon-button color="primary" (click)="updateTodo(todo.id)">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="cancelEditing()">
            <mat-icon>close</mat-icon>
          </button>
        </ng-container>
      </div>
    </div>
  </li>
</ul>

<div *ngIf="todos.length === 0" class="text-center mt-8 text-gray-500">
  No todos yet. Add one above!
</div>